/* CSS declarations go here */
.mrgnButton{
    margin-bottom: 2px;
}

.mgnColisItem{
    padding-left: 0px;
    padding-right: 0px;
}

.mgnLogin {
    padding-top: 150px;
}

.mgnTopMainGrid {
    padding-top: 20px;
}

.mgnBotMainGrid {
    padding-bottom: 50px;
}

.mgnFlick {
    margin-left: 5px;
    margin-right: 5px;
}

.tableOverflow {
    overflow-x: scroll;
}

.ourDropdown{
    padding: 0px 15px;
}